.dp-alert {
    padding: 16px 18px;
    display: inline-block;
    transition: .35s ease-in;
    position: fixed;
    top: 30px;
    right: 30px;
    color: white;
    border-radius: 2px;
    opacity: 0;
    visibility: hidden;
    &.on {
        opacity: 1;
        visibility: visible;
        background: #49eb8b;
    }
    
    .close-x {
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
        font-size: 12px;
        padding: 1px 5px;
    }
}
